$color-orange: #FA8334;
$color-yellow: #F9DC5C;
$color-brown: #251605;
$color-violet: #D1CCDC;
$color-gray: #E3F2FD;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

$font-cursive: 'Dancing Script', cursive;