@use "var";


// Normalize Some CSS basics
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: max(10%, 120px) 1fr;

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 5rem;
        font-family: var.$font-cursive;
        font-weight: bold;
        background-color: var.$color-brown;
        grid-column: span 2;
        color: var.$color-gray;
    }

    .sideLeft {
        background-color: var.$color-violet;
        grid-column: span 1;
    }

    .main {
        background-color: var.$color-gray;
        display: flex;
        align-items: center;
        justify-content: center;

        .play-grid {
            display: grid;
            width: 370px;
            height: 370px;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);

            &>div {
                border: 5px solid var.$color-orange;
            }

            .cell1,
            .cell2,
            .cell3 {
                border-top: none;
            }

            .cell7,
            .cell8,
            .cell9 {
                border-bottom: none;
            }

            .cell3,
            .cell6,
            .cell9 {
                border-right: none;
            }

            .cell1,
            .cell4,
            .cell7 {
                border-left: none;
            }
        }
    }
}

.fill-x {
    position: relative;
    animation-iteration-count: infinite;
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 8px;
        background-color: black;
        transform: rotate(45deg) translate(42px, 40px);

    }

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 8px;
        background-color: black;
        transform: rotate(-45deg) translate(-42px, 40px);
    }
}

.fill-o {
    height: 100%;
    position: relative;
    animation-iteration-count: infinite;
    &::after {
        width: 90%;
        height: 90%;
        position: absolute;
        top: 5%;
        left: 5%;
        content: "";
        background-color: black;
        border-radius: 50%;
    }

    &::before {
        width: 75%;
        height: 75%;
        position: absolute;
        top: 12%;
        left: 12%;
        content: "";
        background-color: var.$color-gray;
        border-radius: 50%;
        z-index: 1;
    }

}