@use "var";


// Normalize Some CSS basics
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max(10%, 120px) 1fr;
    padding: 0 0;
    max-width: 100%;
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 5rem;
        font-family: var.$font-cursive;
        font-weight: bold;
        background-color: var.$color-brown;
        grid-column: span 2;
        color: var.$color-gray;
    }

    .main {
        background-color: var.$color-gray;
        display: flex;
        flex-direction: column;
        align-items: center;

        .play-banner {
            font-family: var.$font-cursive;
            font-size: 1.9rem;
            margin-top: 20px;
            margin-bottom: 30px;

        }
        .play-grid {
            display: grid;
            width: 370px;
            height: 370px;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);

            &>div {
                border: 5px solid var.$color-orange;
            }

            .cell1,
            .cell2,
            .cell3 {
                border-top: none;
            }

            .cell7,
            .cell8,
            .cell9 {
                border-bottom: none;
            }

            .cell3,
            .cell6,
            .cell9 {
                border-right: none;
            }

            .cell1,
            .cell4,
            .cell7 {
                border-left: none;
            }
        }

        .welcome {
            margin-top: 50px;
            display: flex;
            flex-direction: column;

            #choice-game-type {
                background: linear-gradient(to left, #ff9a9e,  #fad0c4);;
                border-radius: 20px;
                padding: 10px 10px;
                display: flex;
                flex-direction: column;
                font-size: 1.3rem;
                gap: 5px;
                p {
                    margin: 0;
                    font-size: 1.5rem;
                }
                & > div {
                    display: flex;
                    justify-content: space-around;
                }
                button {
                    border: none;
                    outline: none;
                    border-radius: 5px;
                    width: 80px;
                    height: 40px;
                    font-weight: bold;
                    
                    &:hover {
                        font-size: 1.2em;
                        background-color: black;
                        color: white;
                    }
                }
            }

            #enter-player-names {
                display: flex;
                flex-direction: column;
                row-gap: 20px;
                & > div {
                    display: flex;
                    flex-direction: column;
                }

                .btn-div {
                    width: 250px;
                    height: 40px;
                }

                button {
                    border: none;
                    background-color: var.$color-brown;
                    color: var.$color-gray;
                    font-size: 1.5rem;
                    &:hover {
                        box-shadow: 0 0 10px 5px var.$color-orange;
                        border: 1px solid var.$color-orange;
                        background-color: azure;
                        font-size: 2rem;
                        color: var.$color-brown;
                        font-weight: bold;
                    }
                }
            }

        }
    }
}

.win-banner {
    display: flex;
    flex-direction: column;
    p {
        font-family: var.$font-cursive;
        font-size: 2.5rem;
        font-weight: bold;
        color: var.$color-orange;
    }
    button {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }
}


.fill-x {
    position: relative;
    animation-iteration-count: infinite;

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 8px;
        background-color: black;
        transform: rotate(45deg) translate(42px, 40px);

    }

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 8px;
        background-color: black;
        transform: rotate(-45deg) translate(-42px, 40px);
    }
}

.fill-o {
    height: 100%;
    position: relative;
    animation-iteration-count: infinite;

    &::after {
        width: 90%;
        height: 90%;
        position: absolute;
        top: 5%;
        left: 5%;
        content: "";
        background-color: black;
        border-radius: 50%;
    }

    &::before {
        width: 75%;
        height: 75%;
        position: absolute;
        top: 12%;
        left: 12%;
        content: "";
        background-color: var.$color-gray;
        border-radius: 50%;
        z-index: 1;
    }

}

input {
    border-radius: 5px;
    border: 2px solid var.$color-orange;
    padding: 0 10px;
    
    &:focus {
        outline: none;
        // border: 2px solid var.$color-orange;
    }
}


.hidden {
    display: none !important;
}